<p id="notice"></p>
<div class="container px-5 px-sm-0">
  <div class="row">
   <%= render 'books/list' %>
    <div class="col-md-8 offset-md-1">
  		<h2>Book detail</h2>
  		<table class="table">
  		  <tbody>
  		    <tr>
  		      <td>
  		                <a href=""><%= attachment_image_tag @book.user, :profile_image, size: '40x40', format: 'jpeg', fallback: "no_image.jpg" %></a>
  		         <br><%= link_to @book.user.name, user_path(@book.user) %>
  		        </a>
  		      </td>
  		      <td>
  		        <p><%= link_to @book.title, book_path(@book) %></p>
  		      </td>
  		      <td>
             <p><%= @book.body %></p>
            </td>
            <% if @book.user_id == current_user.id %>
            <td><a class="btn btn-sm btn-success" href="/books/<%= @book.id %>/edit">Edit</a></td>
            <td><a data-confirm="本当に消しますか？" class="btn btn-sm btn-danger " rel="nofollow" data-method="delete" href="/books/<%= @book.id %>">Destroy</a></td>
            <% end %>
  		    </tr>
  		  </tbody>
<!--
      </table>
    </div>
  </div>
</div>