<p id="notice"></p>
<div class="container px-5 px-sm-0">
  <div class="row">
   <%= render 'books/list' %>
    <div class="col-md-8 offset-md-1">
  		<h2>Book detail</h2>
  		<table class="table">
  		  <tbody>
  		    <tr>
  		      <td>
  		        <a href="/"><img class="attachment user profile_image fallback" src="/no_image.jpg">
  		         <br><%= @book.user.name %>
  		        </a>
  		      </td>
  		      <td>
  		        <p><%= link_to @book.title, book_path(@book) %></p>
  		      </td>
  		      <td>
             <p><%= @book.body %></p>
            </td>
            <td><a class="btn btn-sm btn-success" href="/books/<%= @book.id %>/edit">Edit</a></td>
            <td><a data-confirm="本当に消しますか？" class="btn btn-sm btn-danger " rel="nofollow" data-method="delete" href="/books/<%= @book.id %>">Destroy</a></td>
  		    </tr>
  		  </tbody>
<!--
      </table>
    </div>
  </div>
</div>