<div class="container px-5 px-sm-0">
  <div class="row">
   <%= render partial: 'books/list', locals: {current_user: @book.user} %>
    <div class="col-md-8 offset-md-1">
  		<h2>Book detail</h2>
  		<table class="table">
  		  <tbody>
  		    <tr>
  		      <td>
  		                <a href=""><%= attachment_image_tag @book.user, :profile_image, size: '40x40', format: 'jpeg', fallback: "no_image.jpg" %></a>
  		         <br><%= link_to @book.user.name, user_path(@book.user) %>
  		        </a>
  		      </td>
  		      <td>
  		        <p><%= link_to @book.title, book_path(@book) %></p>
  		      </td>
  		      <td>
             <p><%= @book.body %></p>
            </td>
            <% if @book.user_id == current_user.id %>
            <td><a class="btn btn-sm btn-success" href="/books/<%= @book.id %>/edit">Edit</a></td>
            <td><a data-confirm="本当に消しますか？" class="btn btn-sm btn-danger " rel="nofollow" data-method="delete" href="/books/<%= @book.id %>">Destroy</a></td>
            <% else %>
            <td>
<% if @book.favorited_by?(current_user) %>
    <p>
      <%= link_to book_favorites_path(@book), method: :delete do %>
        ♥<%= @book.favorites.count %>
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to book_favorites_path(@book), method: :post do %>
        ♡<%= @book.favorites.count %>
      <% end %>
    </p>
  <% end %>
            </td>
            <td><p>コメント件数：<%= @book.book_comments.count %></p></td>
            <% end %>
  		    </tr>
  		  </tbody>
      </table>
<div class="comments">

 <% @book.book_comments.each do |book_comment| %>
　<td>
  	<a href=""><%= attachment_image_tag book_comment.user, :profile_image, size: '40x40', format: 'jpeg', fallback: "no_image.jpg" %></a>
  	<br><%= link_to book_comment.user.name, user_path(book_comment.user) %>
  	</a>
  </td>
  <td>
    <%= book_comment.comment %>
  </td>
  <% if book_comment.user == current_user %>
  <div class="comment-delete">
    <%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete, class: "btn btn-sm btn-danger " %>
  </div>
  <% end %>

 <% end %>
</div>
<div class="new-comment">
<%= form_with(model:[@book, @book_comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>
    </div>

  </div>
</div>